<% canonical(cgv_url) %>

<div class="container">
  <div class="row mt-5 text-blue text-condensed">
    <div class="col">
      <h1 class='text-blue text-condensed text-center'>
        CONDITIONS GÉNÉRALES DE VENTE
      </h1>
    </div>
  </div>
</div>
