<% canonical(legals_url) %>
<% content_for :meta_title, "Koach & Co | Mentions légales" %>
<% content_for :meta_description, "" %>

<div class="container">
  <div class="row mt-5 text-blue text-condensed">

  </div>
</div>
